<p>
  checkin works!
</p>
<p>{{timer.toLocaleTimeString()}}</p>
<form class="example-form" *ngIf="!checkin">

  <mat-form-field class="example-full-width">
    <textarea #noteCheckin matInput placeholder="Note a comment"></textarea>
  </mat-form-field>
  <button  class="checkinBtn" mat-button (click)="checkinSubmit(noteCheckin.value)">Checkin</button>
</form>
<div *ngIf="checkin">
  <p>You done checkin at {{checkin.createdDate | date: 'HH:mm:ss dd:MM:yyyy'}}</p>
  <p>Note: {{checkin.note}}</p>
</div>