
<div fxLayout="row" fxLayoutWrap *ngIf="reports">
     <cdk-line-graph [reports]="reports" fxFlex="100" fxFlex.lt-sm="100"  fxFlex.sm="100" ></cdk-line-graph>
     
</div>

<!-- <div fxLayout="column" fxLayoutWrap style=" padding: 8px;">
    <cdk-world-map [tableData]="tableData"></cdk-world-map>
</div> -->

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
      </ng-container>
  
      <!-- Worktime Column -->
      <ng-container matColumnDef="workTime">
        <mat-header-cell *matHeaderCellDef> WorkTime </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalMinute}} </mat-cell>
      </ng-container>
  
      <!-- Checkin Column -->
      <ng-container matColumnDef="checkIn">
        <mat-header-cell *matHeaderCellDef> CheckIn </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.checkIn.createdDate | date:'dd/MM/yyyy, h:mm:ss a'}} </mat-cell>
      </ng-container>

      <!-- Checkout Column -->
      <ng-container matColumnDef="checkOut">
        <mat-header-cell *matHeaderCellDef> CheckOut </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element?.checkOut?.createdDate | date:'dd/MM/yyyy, h:mm:ss a'}} </mat-cell>
      </ng-container>

      <!-- Detail Column -->
      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef> Detail </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button (click)="openMainDetailDialog(element)" mat-raised-button>...</button> 
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator *ngIf="pageEvent" 
              [length]="pageEvent.length"
              [pageSize]="pageEvent.pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="changePage($event)">
</mat-paginator>

