
@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);


    .sidenav,.drawer{
        background: whitesmoke;
        overflow: hidden;
        position: relative;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }
}
.mat-toolbar.mat-primary{
  background: none;
}
.mat-nav-list .mat-list-item .mat-list-icon{
  background: #d76767;
}
