
<mat-card class="example-card">
  <mat-card-header>
    <h1>Login Form</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" (keyup)="onKey($event)">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="btn__clear" color="primary" >Clear</button>
    <button mat-raised-button color="primary" class="btn__login" (click)="Login()">Login</button>
  </mat-card-actions>
</mat-card>
