.login-card {
  box-sizing: border-box;
  width: 400px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px 0;
  border-radius: 3px;
  .mat-card-title{
    width: 100%;
    background: #5c6bc0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: block;
    h1{
      font-size: 25px;
      color: white;
      padding: 25px;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .mat-card-content{
    padding: 30px;
    margin: 0;
    .mat-form-field{
      width: 100%;
      font-size: 16px;
      padding-bottom: 20px;
      .mat-icon{
        line-height: 0.8;
        font-size: 120%;
        cursor: pointer;
      }
      input {
        background-color: #FFF !important;
       }
       input:-webkit-autofill {
        background-color: #FFF !important;
        }
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px white inset;
        }
    }
  }
  .mat-card-actions{
    margin: 0;
    padding: 0 30px;
    .btn{
      padding:6px 60px;
    }
    .btn__clear{
      border-radius: 3px;

      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 500;
      background: #dfdfdf;
      border: none;
      cursor: pointer;
      color: #5c6bc0;
      text-align: left;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .btn__login{
      font-size: 16px;
      margin: 0 0 0 10px;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      border-radius: 3px;
      color: white;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
@media screen and (max-width: 768px){
  .container{
    width: auto;
  }
}
@media screen and (max-width: 480px){
  .container{
    padding: 0 15px;
    width: auto;
    .login-card{
      width: inherit;
      .btn{
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
      }
      .btn__clear{
        text-align: center;
      }
      .btn__login{
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 320px){
  .container{
    padding: 0 15px;
    width: auto;
    .login-card{
      width: inherit;
      .btn{
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
      }
      .btn__clear{
        text-align: center;
      }
      .btn__login{
        margin: 0;
      }
    }
  }
}
